@charset "UTF-8";

body {
    background-color: #CFEFFF;
    margin: 0;
    font-family: "Yu Gothic", "Meiryo", sans-serif;
}

h1 {
    background-color: #FFFDE7;
    text-align: center;
    width: 950px;
    margin: 30px auto 0;
    padding: 15px 0;
    border-radius: 10px;
}


h2 {
    background-color: #e0e0e0;
    text-align: center;
    width: 450px;
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 5px;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    display: block;
    margin: 15px auto;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 10px;
}

label {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.logbut {
    text-align: center;
    margin-top: 20px;
}

.logbut button {
    height: 50px;
    width: 300px;
    background-color: #C7E9FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.logbut button:hover {
    background-color: #9ed8ff;
}

.login-box {
    border: 2px solid #949fa8;
    background-color: #fff;
    padding: 30px;
    width: 450px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

p {
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px;
}