@charset "UTF-8";
.edit-btn,
.delete-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}

/* 編集ボタン */
.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.edit-btn:hover {
    background-color: white;
    color: #4CAF50;
}

/* 削除ボタン */
.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: 1px solid #e74c3c;
}

.delete-btn:hover {
    background-color: white;
    color: #e74c3c;
}